<head>
    <link rel="stylesheet" href="./css/Movies/movies.css" />
</head>

<div class="search-menu-container">
    <button type="button" class="collapsible">
        <span>Filters</span>
        <img style="margin-left: 5px; margin-right: 10px;">
    </button>
    <div class="content-search-menu">
        <div class="search-content">
            <!--MOVIE TITLE-->
            <div class="form__group field">
                <input type="input" class="form__field" placeholder="" name="fltr-movie-title" id='fltr-movie-title' required />
                <label for="fltr-movie-title" class="form__label">Title</label>
            </div>

            <!--MOVIE YEAR-->
            <div style="display:block;">
                <div class="custom-select">
                    <select>
                    <option value="">Year</option>
                    <option value="">GitHub</option>
                    <option value="">Instagram</option>
                    <option value="">Facebook</option>
                    <option value="">LinkedIn</option>
                    <option value="">Twitter</option>
                    <option value="">Reddit</option>
                    </select>
                </div>
            </div>     
        </div>           
    </div>
</div>

<div id="gridMovies" class="container" style="overflow-y: auto; zoom: 0.8;">
	
</div>