
<head>
    <link rel="stylesheet" href="../../css/toast.css" />
    <link rel="stylesheet" type="text/css" href="../../css/Movies/movie-detail.css" />
</head>

<body  style="overflow: hidden;">
    <div id="movie_detail_container" class="movie-detail-container">
        <div id="topbar_md" style="position: relative; padding: 20px 50px; height: 100px;">
            <div class="two alt-two" style="position:absolute; top:20%; left: 40%;">
                <h1 style="color: white;">Movie Detail</h1>
            </div>
            
            <div id="top-bar" style="display: flex; flex-wrap: nowrap;  float:right;">   
                <div  style="flex:left; width: 50%;">
                </div>
            
                <div style="flex:right; margin-left: 5px;">
                    <button class="Btn" id="btn_exit_movie_details">  
                        <div class="sign">
                            <svg viewBox="0 0 512 512">
                                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                            </svg>
                        </div>                    
                        <div class="text" style="font-size: small;">Exit</div>
                    </button>
                </div>            
            </div>        
        
            <div id="movie-details-container" style="position: relative;">
                <div id="moviedetails_partial" style="margin: 150px;">
    
                    <div id="loading_container" class="loading-container">
                        <img class="loading-img" src="../../Content/Images/loading_animation.gif" width="90" height="60">
                    </div>   
    
                    <div class="flex-container" style="visibility: collapse; opacity: 0;">
                        <div style="position: relative; width: 70%;">        
                            <!--MOVIE TITLE-->
                            <h1 id='movie-details-title' style="color: white; font-size:40px; margin-bottom: 10px;"></label>        
    
                            <!--MOVIE YEAR-->
                            <h1 id='movie-details-year' style="color: white; font-size:25px; margin-bottom: 60px;"></h1>        
            
                            <!--MOVIE VIEWS-->
                            <h1 id='movie-details-views' style="color: white; font-size:30px; margin-bottom: 20px;"></h1>
    
                            <!--MOVIE IS FAVORITE-->
                            <img id="movie-details-fav" width="50px" height="50px" src="../../Content/Images/movie-heart.png" style="visibility: hidden;"/>
    
                            <!--MOVIE RATING-->
                            <div class="movie-rating-container" style="width: 50%;">
                                <div class="star-group" style="width: 100% !important;">
                                    <input type="radio" class="star" id="one" data-starvalue="1" name="star_rating" disabled>
                                    <input type="radio" class="star" id="two" data-starvalue="2" name="star_rating" disabled>
                                    <input type="radio" class="star" id="three" data-starvalue="3" name="star_rating" disabled>
                                    <input type="radio" class="star" id="four" data-starvalue="4" name="star_rating" disabled>
                                    <input type="radio" class="star" id="five" data-starvalue="5" name="star_rating" disabled>
                                    <input type="radio" class="star" id="six" data-starvalue="6" name="star_rating" disabled>
                                    <input type="radio" class="star" id="seven" data-starvalue="7" name="star_rating" disabled>
                                    <input type="radio" class="star" id="eight" data-starvalue="8" name="star_rating" disabled>
                                    <input type="radio" class="star" id="nine" data-starvalue="9" name="star_rating" disabled>
                                    <input type="radio" class="star" id="ten" data-starvalue="10" name="star_rating" disabled>
                                </div>
                            </div>
                            
                            <!--MOVIE OBSERVATIONS-->
                            <div id="movie-details-observations-container" class="movie-observations-container">
                                <label class="label-form-field">Observations</label>
                                <p id="movie-details-observations" class="movie-details-description-style"></p>
                            </div>
                        </div>
            
                        <div style="width: 30%;">                
                            <div class="movie-cover-container" style=" position:relative; z-index:1;">
                                <img id="movie-cover-details" width="420px" height="530px" src="../../Content/Images/No-Image-Placeholder.png"/>
                            </div>
                        </div>        
                    </div>  
                </div>      
                
                <div class="details-buttons-container" style="opacity: 0;">
                    <button id="btnAddMovieView" class="button-form"><span>Add View</span></a>                    
                    <button id="btnEditMovie" class="button-form"><span>Edit</span></a>
                    <button id="btnDeleteMovie" class="button-form"><span>Delete</span></a>
                </div>
            </div>        
        </div>
    
        <div class="toastt" style="opacity: 0;">  
            <div class="toastt-content">
              <img src="../../Content/Icons/alert-icon-red.png" class="toastt-alert"/>
          
              <div class="message-toastt">
                <span id="toastt-title" class="toastt-text-title"></span>
                <span id="toastt-msg" class="toastt-text-msg"></span>
              </div>
            </div>
            <i class="close-toastt">x</i>
          
            <div class="progress-toastt"></div>
        </div>  
    </div>
</body>

 <!-- Bootstrap Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" rc="../../contents/bootstrap/5.0.2/js/bootstrap.min.js"></script>        

<script>window.$ = window.jQuery = require('jQuery');</script>        
<script>        
    try {
        require('../../Controllers/movie_details.js');
    } catch (error) {
        console.log(error);
    }    
</script>     
