<head>
    <link rel="stylesheet" href="./css/Movies/movies.css" />
</head>

<div class="search-menu-container">
    <button type="button" class="collapsible">
        <span>Filters</span>
        <img style="margin-left: 5px; margin-right: 10px;">
    </button>
    <div class="content-search-menu">
        <div class="search-content">
            <!--MOVIE TITLE-->
            <div class="form__group field">
                <input type="input" class="form__field" placeholder="" name="fltr-movie-title" id='fltr-movie-title' required />
                <label for="fltr-movie-title" class="form__label">Title</label>
            </div>

            <!--MOVIE YEAR-->
            <div style="display:block;">
                <div class="custom-select">
                    <select id="MovieYearFilter">                    
                    </select>
                </div>
            </div>     

            <!--IS FAVORITE-->
            <div style="margin-left: 40px; padding-top: 5px;">
                <div style="float: left; margin-top: 26px; margin-right: 10px;">
                    <label style="font-size:18px; display:contents;">Favorites: </label>
                </div>                
                <div style="float:right;">
                    <input type="checkbox" id="IsFavorite" class="toggleBtn" /><label class="toggleLabel" for="IsFavorite">Toggle</label>
                </div>
            </div>   
        </div>           
    </div>
</div>

<div id="gridMovies" class="container" style="overflow-y: auto; zoom: 0.8;">
	
</div>