<head>
    <link rel="stylesheet" href="./css/Movies/new-movie.css" />
</head>


<div class="new-movie-container">
    <div class="form-new-movie">

        <h1>New Movie</h1>
        <div class="new-movies-fields-pt1">

            <!--MOVIE TITLE-->
            <div class="form__group field">
                <input id='movie-title' type="input" class="form__field" placeholder="" name="movie-title" required />
                <label for="movie-title" class="form__label">Title</label>
            </div>

             <!--MOVIE YEAR-->
             <div class="custom-select-container" style="display:block;">
                <text class="label-select">Movie Year</text>
                <div class="custom-select">
                    <select id="movie-year">                    
                    </select>
                </div>
            </div>     

        </div>

    </div>
</div>