<head>
    <link rel="stylesheet" href="./css/Movies/new-movie.css" />
</head>


<div id="new_movie_container" class="new-movie-container" style="visibility: collapse; opacity: 0;">
    <div class="form-new-movie">

        <div class="flex-container">

            <div style="width: 40%;">

                <h1 class="form-header1">New Movie</h1>
                <div class="new-movies-fields-pt1">

                    <!--MOVIE TITLE-->
                    <div class="form__group field">
                        <input id='movie-title' type="input" class="form__field" placeholder="" name="movie-title" required />
                        <label for="movie-title" class="form__label">Title</label>
                    </div>

                    <!--MOVIE YEAR-->
                    <div class="custom-select-container" style="display:block; width: 30%;">
                        <text class="label-form-field">Movie Year</text>
                        <div class="custom-select">
                            <select id="movie-year">                    
                            </select>
                        </div>
                    </div>            

                    <!--IS FAVORITE-->
                    <div class="is-favorite-container">
                        <div style="margin-top: 26px; margin-right: 10px;">
                            <text class="label-form-field">Is Favorite</text>
                        </div>                
                        <div>
                            <input type="checkbox" id="movie-isfav" class="toggleBtn" /><label class="toggleLabel" for="movie-isfav">Toggle</label>
                        </div>
                    </div>   


                    <!--MOVIE RATING-->
                    <div class="movie-rating-container">
                        <img id="btnRefreshMovieRating" class="refresh-movie-rating" src="./Content/Icons/refresh-icon.jpg"/>
                        <text class="label-form-field">Movie Rating</text>
                        <div class="star-group">
                            <input type="radio" class="star" id="one" data-starvalue="1" name="star_rating">
                            <input type="radio" class="star" id="two" data-starvalue="2" name="star_rating">
                            <input type="radio" class="star" id="three" data-starvalue="3" name="star_rating">
                            <input type="radio" class="star" id="four" data-starvalue="4" name="star_rating">
                            <input type="radio" class="star" id="five" data-starvalue="5" name="star_rating">
                            <input type="radio" class="star" id="six" data-starvalue="6" name="star_rating">
                            <input type="radio" class="star" id="seven" data-starvalue="7" name="star_rating">
                            <input type="radio" class="star" id="eight" data-starvalue="8" name="star_rating">
                            <input type="radio" class="star" id="nine" data-starvalue="9" name="star_rating">
                            <input type="radio" class="star" id="ten" data-starvalue="10" name="star_rating">
                        </div>
                    </div>
                    
                    <!--MOVIE OBSERVATIONS-->
                    <div class="movie-observations-container">
                        <text class="label-form-field">Observations</text>
                        <textarea id="movie-observations-id" class="movie-observations"></textarea>
                    </div>
                </div>
            </div>

            <div style="width: 60%;">                
                <div class="movie-cover-container" style=" position:relative; z-index:1;">
                    <img id="btnRefreshMovieCover" class="refresh-movie-cover" src="./Content/Icons/refresh-icon.jpg"/>
                    <input id="movie-cover-upload" type="file" accept="image/*" style="display: none;"/>
                    <img id="movie-cover-output" width="420px" height="530px" src="./Content/Images/No-Image-Placeholder.png"/>
                </div>
                <div class="form-buttons-container">
                    <button id="btnSelectCover" class="button-form"><span>Select Cover</span></a>                    
                    <button id="btnSaveNewMovie" class="button-form"><span>Save</span></a>
                    <button id="btnClearNewMovie" class="button-form"><span>Clear</span></a>
                </div>
            </div>

        </div>  
    </div>
</div>