<head>
    <link rel="stylesheet" href="./css/Home/home.css" />
</head>

<div class="container">
	<div>
		<div class="cover atvImg homecard" style="float:left;">
			<div style="width:40%; float:left; padding-top: 20px;">
				<div id="img_movies" style="width:200px; height:200px;"></div>
			</div>
			<div style="width:60%; float:left; padding-top: 60px; padding-left: 70px;">
				<h1>Movies</h1>
				<h2>5384</h2>
			</div>		
		</div>
	
		<div class="cover atvImg homecard" style="float:left;">
			<div style="width:40%; float:left; padding-top: 20px;">
				<div id="img_movies" style="width:200px; height:200px;"></div>
			</div>
			<div style="width:60%; float:left; padding-top: 60px; padding-left: 70px;">
				<h1>Tv Shows</h1>
				<h2>36</h2>
			</div>		
		</div>
	</div>	
</div>

<script>
    var $ = require('jQuery');
    require('./Controllers/Home/home.js');            
</script>