@charset "UTF-8"; /*IMPORTANT, WHITOUT THIS THE CONTENT STAR DOESNT WORK PROPERLY*/

:root {
	--enlarge: scale(1.25);
	--page-color: steelblue;
	--star-primary-color: gold;
	--star-secondary-color: darkgoldenrod;
}

.loading-container{
  width: 100%;
  height: 100%;  

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-img {
  object-fit: cover;
}

.movie-detail-container {
    width: 100%;
    height: 100%;
    background-color: #4b3a27;
    opacity: 0.98;
}
  
/* === HEADING STYLE #2 === */
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", Verdana, sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 5em;
  line-height: 1.3;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}


.two h1 {
  text-transform: capitalize;
}
.two h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #c50000;
}

.two h1 span {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 10px;
}
.alt-two h1 {
  text-align:center;
}
.alt-two h1:before {
  left:50%; margin-left:-30px;
}
  
/* Botão SAIR */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 255, 255);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign img {
    width: 17px;
}

.sign svg path {
    fill: black;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}
/* button click effect*/
.Btn:active {
    transform: translate(2px ,2px);
}

/* END Botão SAIR */


.flex-container {
  display: flex;
}

  /* MOVIE YEAR */
.custom-select-container {
    margin-top: 20px;
}

.custom-select {
    width: 270px;
    position: relative;
    margin-top: 10px;
}
  
select {
appearance: none;
/*  safari  */
-webkit-appearance: none;
/*  other styles for aesthetics */
width: 100%;
font-size: 1.15rem;
padding: 0.675em 6em 0.675em 1em;
background-color: #fff;
border: 1px solid #caced1;
border-radius: 0.25rem;
color: #000;
cursor: pointer;
}

.custom-select::before,
.custom-select::after {
--size: 0.3rem;
content: "";
position: absolute;
right: 1rem;
pointer-events: none;
}

.custom-select::before {
border-left: var(--size) solid transparent;
border-right: var(--size) solid transparent;
border-bottom: var(--size) solid black;
top: 40%;
}

.custom-select::after {
border-left: var(--size) solid transparent;
border-right: var(--size) solid transparent;
border-top: var(--size) solid black;
top: 55%;
}

.label-form-field {
font-size: 1rem;
color: #9b9b9b;
font-weight: 600;
}
/* END MOVIE YEAR */




/*MOVIE RATING STYLE*/
.movie-rating-container {
  position: relative;
	padding: 30px 0px 0px 0px;
}

.star-group {
  width: 30%;
  margin-top: 70px;
	display: grid;
	font-size: clamp(1.5em, 10vw, 8em);
	grid-auto-flow: column;
  zoom: 0.3;
}

/* reset native input styles */
.star {
	-webkit-appearance: none;
	align-items: center;
	appearance: none;
	cursor: pointer;
	display: grid;
	font: inherit;
	height: 1.15em;
	justify-items: center;
	margin: 0;
	place-content: center;
	position: relative;
	width: 1.15em;
}

@media (prefers-reduced-motion: no-preference) {
	.star {
		transition: all 0.25s;
	}

	.star:before,
	.star:after {
		transition: all 0.25s;
	}
}

.star:before,
.star:after {
	color: var(--star-primary-color);
	position: absolute;
}

.star:before {
	content: "☆";
}

.star:after {
	content: "✦";
	font-size: 25%;
	opacity: 0;
	right: 20%;
	top: 20%;
}

/* The checked radio button and each radio button preceding */
.star:checked:before,
.star:has(~ .star:checked):before {
	content: "★";
}

#two:checked:after,
.star:has(~ #two:checked):after {
	opacity: 1;
	right: 14%;
	top: 10%;
}

#three:checked:before,
.star:has(~ #three:checked):before {
	transform: var(--enlarge);
}

#three:checked:after,
.star:has(~ #three:checked):after {
	opacity: 1;
	right: 8%;
	top: 2%;
	transform: var(--enlarge);
}

#four:checked:before,
.star:has(~ #four:checked):before {
	text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
	transform: var(--enlarge);
}

#four:checked:after,
.star:has(~ #four:checked):after {
	opacity: 1;
	right: 8%;
	top: 2%;
	transform: var(--enlarge);
}

#five:checked:before,
.star:has(~ #five:checked):before {
	text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
	transform: var(--enlarge);
}

#five:checked:after,
.star:has(~ #five:checked):after {
	opacity: 1;
	right: 8%;
	text-shadow: 0.14em 0.075em 0px var(--star-secondary-color);
	top: 2%;
	transform: var(--enlarge);
}

#six:checked:before,
.star:has(~ #six:checked):before {
	text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
	transform: var(--enlarge);
}

#six:checked:after,
.star:has(~ #six:checked):after {
	opacity: 1;
	right: 8%;
	text-shadow: 0.14em 0.075em 0px var(--star-secondary-color);
	top: 2%;
	transform: var(--enlarge);
}

#seven:checked:before,
.star:has(~ #seven:checked):before {
	text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
	transform: var(--enlarge);
}

#seven:checked:after,
.star:has(~ #seven:checked):after {
	opacity: 1;
	right: 8%;
	text-shadow: 0.14em 0.075em 0px var(--star-secondary-color);
	top: 2%;
	transform: var(--enlarge);
}

#eight:checked:before,
.star:has(~ #eight:checked):before {
	text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
	transform: var(--enlarge);
}

#eight:checked:after,
.star:has(~ #eight:checked):after {
	opacity: 1;
	right: 8%;
	text-shadow: 0.14em 0.075em 0px var(--star-secondary-color);
	top: 2%;
	transform: var(--enlarge);
}

#nine:checked:before,
.star:has(~ #nine:checked):before {
	text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
	transform: var(--enlarge);
}

#nine:checked:after,
.star:has(~ #nine:checked):after {
	opacity: 1;
	right: 8%;
	text-shadow: 0.14em 0.075em 0px var(--star-secondary-color);
	top: 2%;
	transform: var(--enlarge);
}

#ten:checked:before,
.star:has(~ #ten:checked):before {
	text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
	transform: var(--enlarge);
}

#ten:checked:after,
.star:has(~ #ten:checked):after {
	opacity: 1;
	right: 8%;
	text-shadow: 0.14em 0.075em 0px var(--star-secondary-color);
	top: 2%;
	transform: var(--enlarge);
}

.star-group:has(> #ten:checked) {
	#one {
		transform: rotate(-4deg);
	}

	#two {
    transform: translateY(-20%) rotate(-7.5deg);		
	}

	#three {
    transform: translateY(-35%) rotate(-7.5deg);		
	}

	#four {
    transform: translateY(-45%) rotate(-7.5deg);
	}

	#five {
		transform: translateY(-60%);
	}

  #six {
		transform: translateY(-60%);
	}

	#seven {
		transform: translateY(-45%) rotate(7.5deg);
	}

	#eight {
		transform: translateY(-35%) rotate(7.5deg);
	}

	#nine {
		transform: translateY(-20%) rotate(7.5deg);
	}

	#ten {
		transform: rotate(4deg);
	}
}

.star:focus {
	outline: none;
}

.star:focus-visible {
	border-radius: 8px;
	outline: 2px dashed var(--star-primary-color);
	outline-offset: 8px;
	transition: all 0s;
}
/*MOVIE RATING STYLE END*/


.is-favorite-container {
  display: block;
  position: relative;
}

/* IS FAVORITE */
.toggleBtn {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggleLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: grey;
  border-radius: 100px;
  position: relative;
  margin-top: 10px;
}

.toggleLabel:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.toggleBtn:checked + .toggleLabel {
  background: #800000;
}

.toggleBtn:checked + .toggleLabel:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggleLabel:active:after {
  width: 80px;
}
/* END FAVORITE */

.refresh-movie-cover {
  position: absolute;
  top:-15px;
  left: 635px;
  object-fit: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  visibility: hidden;	
  opacity: 0;
}

.refresh-movie-cover.change {
  visibility: visible;
  opacity: 1;
  transition: all 3s ease-in-out;
}

.refresh-movie-rating {
  position: absolute;
  top: 50px;
  left: 440px;
  object-fit: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
  visibility: hidden;	
  opacity: 0;
}

.refresh-movie-rating.change {
  visibility: visible;
  opacity: 1;
  transition: all 3s ease-in-out;
}

.movie-observations-container {
  margin-top: 80px;
}

.movie-observations {
  margin-top: 10px;
  width: 90%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.movie-cover-container {
  width: 100%;
  text-align: center;
}

#movie-cover-output{
  object-fit: contain;
}


.form-buttons-container {
  text-align: center;
  margin-top: 10px;
}

.movie-details-description-style {
  font-size: 20px;
  color: white;
  font-family: system-ui;
}

#movie-details-fav{
  position: absolute;
  top: 140;
  left: 150;
  object-fit: contain;
}


/*BUTTON FORM*/
.button-form {
  display: inline-block;
  background-color: #4b3a27;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  height: 60px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button-form span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-form span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-form:hover {
  background-color: #5c4a36;
}
.button-form:hover span {
  padding-right: 25px;
}
.button-form:hover span:after {
  opacity: 1;
  right: 0;
}
/*END BUTTON FORM */

.details-buttons-container {
  position: absolute;
  top: 600px;
  left: 150px;
  width: 80%;
  text-align: center;
}