
<div id="main_config_container" class="main-config-container">
    <p class="form-header1" style="font-size: 20px;">Main Configuration</p>
    <div class="main-config-fields">

        <!--MOVIES COVERS PATH-->
        <img id="btnUpdateMoviesCoversPath" class="update-movie-covers-path" src="./Content/Icons/red_folder.png"/>
        <div class="form__group field">
            <input id='movie-c-path' type="input" class="form__field" placeholder="" name="movie-c-path" required />
            <label for="movie-c-path" class="form__label">Movies Covers Path</label>
        </div>

        <!--TVSHOWS COVERS PATH-->
        <img id="btnUpdateTvShowsCoversPath" class="update-tvshows-covers-path" src="./Content/Icons/red_folder.png"/>
        <div class="form__group field">
            <input id='tvshow-c-path' type="input" class="form__field" placeholder="" name="tvshow-c-path" required />
            <label for="tvshow-c-path" class="form__label">TvShows Covers Path</label>
        </div>
    </div>
</div>


