<head>
    <link rel="stylesheet" href="./css/SettingsStyles/settings.css" />
</head>


<div id="settings_container" class="settings-container" style="visibility: collapse; opacity: 0;">
    <div class="form-settings">
        
        <div class="settings-head" style="display:flex;">
            <h1 class="form-header1">Settings</h1>

            <div class="settings-buttons">     
                <details class="dropdown">
                    <summary role="button" class="button-form">
                        <span>Options</span>
                    </summary>
                    <ul>
                      <li data-option="1"><a href="#">Main Configuration</a></li>
                      <li data-option="2"><a href="#">Movies</a></li>
                      <li data-option="3"><a href="#">Movie Covers</a></li>
                      <li data-option="4"><a href="#">Movie Views</a></li>
                      <li data-option="5"><a href="#">TvShows</a></li>
                      <li data-option="6"><a href="#">TvShow Covers</a></li>
                      <li data-option="7"><a href="#">TvShow Views</a></li>
                  </ul>
                </details>
            </div>
        </div>            

        <div id="settings_body" class="settings-body">
            <div id="loading_container" class="loading-container">
                <img class="loading-img" src="./Content/Images/loading_animation.gif" width="60" height="60">
            </div>              
        </div>  
    </div>
</div>